<% @artists.each do |f| %>
<%= image_tag(f.avatar_url(:thumb2).to_s) if f.avatar %>
<%= f.artistname %>
<%= f.country %>
<%= f.genre %>
<% end %>
<p>No</p>
<div>
  <h2>Add New Artist</h2>
  <%= render 'artists/form'%>
</div>
